/* Estilos externos de CSS */
body {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
#header {
    padding: 40px 25px;
    background: black;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navegacion{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    background: grey;
    padding: 0 20px;
    
}
.navegacion p{
    line-height: 50px;
    
}
.logo {
    display: block;
    background-color: lightgreen;
    width: 100%;
}
.nav {
    display: block;
    background-color: lightgreen;
    width: 100%;
}
.social {
    display: block;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
    width: 100%;
}
.banner {
    text-align: left;
    background: orange;
    padding: 30px;
}
.banner p {
    background: #ffff0075;
    padding: 30px 0;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

#contenido{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    text-align: left;
    gap: 40px;
    padding: 40px;
    background: black;
    color: #fff;
}
.bloque-izquierda{ 
    text-align: left;
    background: grey;
    padding: 20px;
}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0 20px;
}
.bloque-izquierda p{
    background: green;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}
.bloque-izquierda a{
    background: pink;
    display: block;
    padding: 10px 0;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    color: black;
}

.publicidad{
    background: grey;
    padding: 0 20px;
    height: 100%;
}
.publicidad p {
    background: red;
    padding: 25px 0; 
}

#footer {
    display: block;
    text-align: left;
    color:black;
    padding: 35px;
    background: black;
}
.ft-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    gap: 20px;
}
.ft-legales {
    display: flex;
    gap: 30px; 
    justify-content: center;   
}
.ft-legales a {
    background-color: aqua;
    color:black;
    text-decoration: none;
}  
.ft-legales a:hover {
    background-color: aqua;
    color: black;
}    

/*Responsive*/

/*Escritorio mediano (≤1200px) */
@media (max-width: 1200px) {
}

/* Tablet (599px – 900px) */
@media (min-width: 599px) and (max-width: 900px) {
  .navegacion {
    grid-template-columns: 1fr;
    gap: 0;
  }

  #contenido {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .bloque-izquierda p {
    display: flex;
  }

  .articles {
    grid-template-columns: 1fr 1fr;
  }

  body {
    margin: 0;
  }
}


/* Móvil (≤600px) */
@media (max-width: 600px) {
  .navegacion {
    grid-template-columns: 1fr;
    gap: 0;
  }
  #contenido {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .articles {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .ft-content {
    gap: 0;
    flex-direction: column;
    padding-bottom: 10px;
  }
  body {
    margin: 0;
  }
}