/* Estilos externos de CSS */

body {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-family: sans-serif;
}
#header {
    padding: 20px;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navegacion{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: stretch;
    align-items: center;
    gap: 20px;
    background:rgb(54, 54, 113);
}
.logo, .nav, .social {
    background-color: rgb(172, 66, 66);
    color: black;
    text-decoration: none;
    text-align: left;
    margin: 20px;
}
p.logo, p.nav, p.social{
    padding: 10px;
}

  .social a {
    text-decoration: none;
    color: black;
  }

.banner {
    text-align: left;
    background: orange;
    padding: 20px;

}
.banner h3 {
    background: #ffff0075;
    padding: 10px;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

#contenido{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: start;
    text-align: left;
    gap: 20px;
    padding: 20px;
    background: black;
    color: black;
}

.bloque-izquierda{ 
    text-align: left;
    background:rgb(60, 48, 72);

}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}
.bloque-izquierda p{
    background:rgb(30, 94, 177);
    padding: 10px;
    margin: 20px;;
  
}
.bloque-izquierda a{
    background: pink;
    display: block;
    padding: 10px;
    margin: 20px;
    color: black;
    text-decoration: none;

}

.publicidad{
    background: rgb(222, 39, 39);
    height: 100%;
}
.publicidad p {
    background: rgb(212, 208, 86);
    padding: 10px;
    color: black;
    margin: 20px;
}

#footer {

    color:black;
    padding: 20px;
    background: black;
}
.ft-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(225, 225, 105);
    gap: 20px;
    padding: 10px;
}
.ft-content p {
    margin: 0;
}
  

/*Responsive*/

/*Escritorio mediano (≤1200px) */
@media (max-width: 1200px) {
}

/* Tablet (599px – 900px) */
@media (min-width: 599px) and (max-width: 900px) {
  .navegacion {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #contenido {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .articles {
    grid-template-columns: 1fr 1fr;
  }

  body {
    margin: 0;
  }
}


/* Móvil (≤600px) */
@media (max-width: 600px) {
  .navegacion {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  #contenido {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .articles {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .ft-content {
    gap: 10px;
    flex-direction: column;
  
  }
  body {
    margin: 0;
  }
}